/* Estilos personalizados */
/* Puedes agregar estilos adicionales aquí */

body {
    padding-top: 20px;
    background-color:antiquewhite;
}

.navbar-expand-lg{
    margin:0 ;
    padding: 0;
    box-sizing: content-box;
}

.navbar-brand {
    font-size: 24px;
    
}

.navbar-toggler-icon {
    background-color: #b11d1d;
}
    

.navbar-nav .nav-link {
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 60px;
    
}

.navbar-nav .nav-link:hover {
    color: #FF5722;
}

.equipo {
    text-align: center;
}

.equipo h2 {
    font-size: 24px;
    font-weight: bold;
}

.score {
    font-size: 48px;
    font-weight: bold;
    color: #007BFF;
}

.carousel img{
    height: 460px;
    margin: auto;
}

.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }

#navbar1{
    background-color: #ed3e3e;
}   
#myDropdown{
    text-align: center;
}
.btn-outline-success:hover{
    background-color: dimgrey;
}
.btn-outline-success{
    background-color: black;
    color: white;
    border-color: #f1f1f1;
    margin: 0;
}
#carrusel{
    background-color: #000000;
}
.colecciones{
    color: #f1f1f1;
    text-align: center;
}
#lista1 li{
    display:inline;
    padding-left:3px;
    padding-right:3px;
}